<div>
  {{ $image := resources.Get "images/julia.jpg" }}
  <img src="{{ $image.RelPermalink }}" alt="Photo of Julia Elychar" class="rounded-lg w-9/12"/>
</div>

<div class="mt-3 text-md">
  <p class="mb-2 leading-snug">Associate Professor Princeton Institute for International and Regional Studies</p>
  <p>Director of Undergraduate Studies</p>
</div>

<div class="mt-3">
  <ul class="">
    <li class="border-y border-slate-900 py-2">
      <p><strong>Office Phone</strong></p>
      <a href="tel:(609) 258-2896">(609) 258-2896</a>
    </li>
    <li class="border-b border-slate-900 py-2">
      <p><strong>Email</strong></p>
      <a href="mailto:elyachar@princeton.edu">elyachar@princeton.edu</a>
    </li>
    <li class="border-b border-slate-900 py-2">
      <p><strong>Office</strong></p>
      <p>130 Aaron Burr Hall</p>
    </li>
    <li class="border-b border-slate-900 py-2">
      <p><strong>Office Hours</strong></p>
      <p>Tuesday: 1:30 pm-3:30 pm</p>
    </li>
    <li class="border-b border-slate-900 py-2">
      <p><strong>Teaching Fall 2022</strong></p>
      <p>Histories of Anthropological Theory - ANT 390</p>
    </li>
    <li class="border-b border-slate-900 py-2">
      <p><strong>Degrees</strong></p>
      <p>Ph.D. Harvard University</p>
    </li>
  </ul>
</div>
